/* Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #FFE5B4;
    color: #1d1b1b;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 5px 0;
}

/* Navigation Styles */
nav {
    background-color: #8C92AC;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#intro:hover {
    background-color: #FAB8AA;

}
#skills:hover {
    background-color: #FAB8AA;
}
/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

section h2 {
    color: #333;
    margin-top: 0;
}

section p {
    color: #555;
    line-height: 1.6;
}

section ol {
    margin-top: 10px;
    padding-left: 20px;
}

section ol li {
    margin-bottom: 5px;
}

/* Define styles for list items */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Define styles for anchor tags */
a {
    text-decoration: none;
    color: #333; /* Default color */
    transition: color 0.3s; /* Smooth transition for color change */
}

/* Define styles for hover effect */
li:hover a {
    color: #ff7f00; /* Darker peach color on hover */
}

/* Contact Section Styles */
section#contact {
    background-color: #B76E79;
    color: #fff;
}

section#contact ul {
    list-style-type: none;
    padding: 0;
}

section#contact ul li {
    margin-bottom: 5px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
